@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

html, body{
    margin: 0;
    padding: 0;
    background-color: #5e697b;/*  #24282f; */
    height: 100%;
    width: 100%;
    overflow-x: hidden; 
}

/* html{
    margin: 0;
    padding: 0;
    max-width: 100%;
} */

.ColorDark{
    background: #24282f;
}


.ContentWidth{
    max-width: 80%;
   /*  margin-left: 5%; */
}
/*#region Header*/
.HeaderContainer{
    width: 100%;
    /* height: 20%; */
    /*flex-shrink: 0;*/

    background: #171D25;
    padding:  0;
    margin: 0;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
}

#HeaderTittle img{
    margin: 10px;
}

#HeaderTittle{
    display: flex;
    align-items: center;
    width: 30%;
}

#HeaderTittle h1{
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#HeaderLink{
    width: 70%;
}

#HeaderLink a{
    color: white;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    text-decoration: none;
    margin: 0 15px;
}

#HeaderLink a:hover {
    color: #5e697b;
}

#HeaderLink .link_active {
    color: #24282f;
}
/*#endregion*/

/*#region Botones*/
/* .ButtonParent:active {
	position:relative;
	top:1px;
} */

.DownloadButton{
    box-shadow:inset 0px 1px 3px 0px #a6cbff;
	background-color:#3075d8;
	border-radius:5px;
	border:3px solid #013989;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:11px 13px;
	text-decoration:none;
    bottom: 5px;
    margin-left: 10px;
}
.DownloadButton:hover {
	background-color:#3889fe;
}

.SourceButton{
    box-shadow:inset 0px 1px 3px 0px #b23fd7;
	background-color:#8631a7;
	border-radius:5px;
	border:3px solid #622c8f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:11px 13px;
	text-decoration:none;
    bottom: 5px;
    margin-left: 10px;
}
.SourceButton:hover {
	background-color:#a43ccd;
}

.bottomDiv{
    bottom: 5px;
    position: absolute;
}
/*#endregion*/

.container{
    display: flex;
    justify-content: space-between; /* Distribuir los elementos a los extremos */
    align-items: center; /* Centrar verticalmente los elementos */

    background-color: #24282f; 

    padding: 2%;

    height: 40vh;
    width: 97.05%;
}

/*#region Pagina principal*/

/*#region Navbar*/
nav{
    --top-offset: 0px;
    left: 0;
    position: sticky;
    min-width: 350px;
    /* padding: 20px 0px 20px 20px; */
    top: var(--top-offset);
    height: calc(100dvh - var(--top-offset));
    background-color: #5e697b;
}
/*#endregion*/

.description{
    margin: 5%;
    width: 65%;
    height: 100%;
    
    color: white;

    font-family: Inter;

    position: relative;
}

/*Slider*/
.slider{
   /*  background-color: red; */
    width: 40%;
    height: auto;
    margin: 5%; /* auto 0; */
    overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: slide 15s infinite alternate ease-in-out;
}

.slider li{
    list-style: none;
    width: 100%;
}

.slider img{
    max-height:100%; 
    max-width:100%;
    object-fit: contain;
    /* width: 100%;
    height: auto; */
}

@keyframes slide{
    /*Calcular dependiendo de la cantidad de imagenes*/
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    40%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
}
/*#endregion*/

/*#region Manual de uso*/
.heightContent{
    height: fit-content;
}

.content_index{
    color: white;
    font-family: Inter;
    font-weight: 700;
}

.content_index a{
    text-decoration:none;
    color: white;
}

.content_index a:hover{
    color: #171D25;
}

.guideText{
    color: white;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;

    text-wrap: wrap;
}

.flexContainer{
    display: flex;
    justify-content: space-between; /* Distribuir los elementos a los extremos */
    align-items: center; /* Centrar verticalmente los elementos */
}

.flexContainer img{
    width: 40vw;
    height: auto;

    border-radius: 5px;
}

.guideImageDescription{
    align-self: flex-start;
}

.centerIMG{
    text-align: center;
}
.centerIMG img{
    width: 60vw;
}
/*#endregion*/

/*Responsividad*/
@media (max-width: 1350px) {
    /* las imagenes del manual de uso deben estar arriba del texto */
    .flexContainer{
        display: block;
    }

    .guideText{
        text-wrap: balance;
    }
    .ContentWidth {
        max-width: 70%;
    }
    nav{
        min-width: 300px;
    }
}
@media (max-width: 992px) {
    /* el indice del manual de uso debe ocultarse */
    nav{
        display: none;
    }

    .guideText{
        text-wrap: wrap;
    }
    .ContentWidth {
        max-width: 90%;
    }
}

@media (max-width: 600px) {
    /* Index */
    .slider{
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
    }

    .description {
        width: 90%;
        height: 100%;
    }

    /* Manual de uso */
    .container {
      flex-direction: column; /* Cambiar la dirección del flexbox a columna */
      align-items: flex-start; /* Alinear elementos a la izquierda */
    }
}